.img img {
            width: 100%;
            height:auto;
           max-height:37vh;
            margin: 5px auto;
            vertical-align:middle;
        }
.img{
    height:40vh;
    line-height:38vh;
     min-height:50%;
}
.img-2{
    height:48vh;
}
.img-2 img{
    width:100%;
    max-height:46vh;
    margin:5px;
}
        .filter-box {
            position:fixed;
            top: 55px;
            background-color: #333333;
            color: #ffffff;
            
            height:91vh;
            padding-top: 15px;
            overflow-y: scroll;
            border: 1px solid #555555;
        }

        .content-header-align > h3{
            text-align: center;
            margin: 1rem;
        }
        .content-header-align h3  a{
            color:white;
        }

        .content-box {
            margin: 5px auto;
            
            border: 1px black solid;
            
        }
        .content-box-2 {
            margin: 5px auto;            
        }
        
        .boxes-2{
            width : 46%;
            display:inline-block;
            margin:5px;
            
        }
        .bg-content {
            background: lightgray;
            background:-moz-linear-gradient(lightgray, white);
            
            color: #ddaaaa;
            min-height: 50vh;
        }
        .bg-content a{
            color:  darkblue;
        }
        .bg-content label{
            color:black;
        }
        .bg-content-header {
            
            color: #ffffff;
        }
        .but{
            padding-top:15px;
        }
        .Book{
            background-color:darkgreen;
        }
        .Audio{
            background-color:darkred;
        }
        .Video{
            background-color:  darkblue;
        }
        .Empty{
            background-color:  black;
        }
        .AddNewContent{

        }
        .Update{
            display:none;
        }
        .padding{
            display:table-footer-group;
        }
       
        .VoteUp label{
            color:green;
        }
        .VoteDown label{
            color:red;
        }
        .Vote{
            border:1px black solid;
            margin: 5px;
            padding: 5px;
        }
        .Properties-bg-1{
            background-color:lightcoral;
            background: -moz-linear-gradient( lightgray, white);
            border-radius:5px;
            margin: 5px;
            padding: 5px;
        }
        .Properties-bg-2{
            background-color:lightgreen;
            border-radius:5px;
        }
        .Properties-bg-3{
            background-color:lightblue;
            border-radius:5px;
        }