.img img {
            width: 100%;
            height:auto;
           max-height:37vh;
            margin: 5px auto;
            vertical-align:middle;
        }
.img{
    height:40vh;
    line-height:38vh;
     min-height:50%;
}
.img-2{
    height:48vh;
}
.img-2 img{
    width:100%;
    max-height:46vh;
    margin:5px;
}
        .filter-box {
            position:fixed;
            top: 55px;
            background: -moz-linear-gradient( #FF9340, #FFB073 );
            color:  white;
            font-size:20px;
            font-weight:600;
            height:91vh;
            padding-top: 15px;
            overflow-y: scroll;
            border: 1px solid #555555;

        }
ul{
    list-style-type:none;
}
        .content-header-align > h3{
            text-align: center;
            margin: 1rem;
        }
        .content-header-align h3  a{
            color:white;
        }
        
        .content-box {
            margin: 5px auto;
            
            border: 1px black solid;
            
        }
        .content-box-2 {
            margin: 5px auto;
            margin:25px;  
            padding-bottom:25px;        
        }
        
        .boxes-2{
            width : 46%;
            display:inline-block;
            margin:5px;
            
        }
        .bg-content {
            background: lightgray;
            background:-moz-linear-gradient(lightgray, #F8F8FF);
            
            color: #ddaaaa;
            min-height: 50vh;
            
        }
        .bg-content a{
            color:  darkblue;
        }
        .bg-content label{
            color:black;
        }
        .bg-content-header {
            
            color: #ffffff;
        }
        .but{
            padding-top:15px;
        }
        .Book{
            background-color:darkgreen;
        }
        .Audio{
            background-color:darkred;
        }
        .Video{
            background-color:  darkblue;
        }
        .Empty{
            background-color:  black;
        }
        
        
        .padding{
            display:table-footer-group;
        }
       
        .VoteUp label{
            color:green;
        }
        .VoteDown label{
            color:red;
        }
        .Vote{
            border:1px black solid;
            margin: 5px;
            padding: 5px;
        }
        .Vote-Cell{
            padding:5px;
        }
        .Properties-bg-1{
            background: -moz-linear-gradient( lightgray, #F8F8FF);
            
        }
        .Properties-bg-2{
            background-color:lightgreen;
            border-radius:5px;
        }
        .Properties-bg-3{
            background-color:lightblue;
            border-radius:5px;
        }
        .table-body{
            display:inline-table;
        }
        .table-row{
            display:table-row;
        }
        .table-cell{
            display:table-cell;
        }
        .color-header{
            
            background:#FF6F00;
        }
        .color-header a{
            color: white !important;
            font-size:16px;
            font-weight:400;
        }
            .color-header a:hover {
                background-color:darkblue !important;
            }
        .body-content{
            background:#F8F8FF;
           
            
        }
        body{
            background:#F8F8FF;
            
        }
        .video-1{
            margin:10px;
        }
        .color-red{
            color:white !important;
            background-color:#FF0700;

        }
        .color-green{
            color:white !important;
            background-color:#2DD700;
        }
        .color-red:hover{
            background-color:darkred;

        }
        .color-green:hover{
            background-color:darkgreen;
        }
        .color-orange{
            color:white !important;
            background-color:#FF9900;
        }
        .color-orange:hover{
            
            background-color:#FF7100;
        }
        
        
        